{% extends 'base.html' %}

{% block title %}
<h2 style="text-align: center">Cuisine list</h2>


 


{% endblock %}
{% block content %}
{% if restaurant_category_list %}
<div class="row">
    {% for category in restaurant_category_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'restaurantblog:restaurant_category_detail' category.id %}">
        {{ category.name }}</a>
       </h4>
        
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No cuisines are available.</p>
{% endif %}
{% endblock %}